<% const name = 'mario' %>  <%# this code run server side %>

<nav>
    <div class="site-title">
        <p></p>   <%#  if the code gets displayed that add = after the init %  %>
        <a href="/"><h1>Sujad's Journal</h1></div></a>
        <p>Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Journals</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Journal</a></li>
    </ul>
</nav>