<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <h1>Welcome to my Journal!</h1>
        <p>
            I believe in the power of self-expression and personal growth. Our platform is designed to provide you with a safe and inspiring space to embark on your journaling journey. Whether you're a seasoned writer or just starting out, our goal is to help you discover the incredible benefits of journaling.
        </p>
        <h1>Why Journaling?</h1>
        <p>
            Journaling is more than just putting pen to paper or typing words on a screen. It's a transformative practice that allows you to reflect on your thoughts, feelings, and experiences. Through journaling, you can gain insights, set goals, and track your progress. It's a tool for self-discovery, mindfulness, and cultivating a deeper connection with yourself.
        </p>
        <h1>Join Us on this Journey</h1>
        <p>
            Whether you're looking to boost your creativity, manage stress, or simply document life's moments, we invite you to join us on this journaling journey. Explore our platform, start your first entry, and unlock the potential for personal growth and self-expression.
        </p>
        <p>
            Thank you for being a part of Journaling adventure!
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>